.layout {
    display: grid;
    font-family: 'lucida console', 'Courier New', monospace;
    font-size: 1.5rem;
    background-image: url(../images/Grass_Type.png);
}

main {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
}

.card {
    width: 100%;
    height: 500px;
    margin: 0.5rem;
    overflow: hidden;
    border: 5px solid black;
    background:none;
    transition: 0.4s;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.4s;
    border: 5px solid white;
}

.card-body {
    padding: 0.25rem;
    text-align: center;
    background-color: rgb(219, 25, 25);
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 1.5rem;
    color: white;
    padding: 5%;
}

img {
    width: 100%;
    height: 100%;
    padding: 5%;
    border-radius: 2%;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: rgb(219, 25, 25);
    display: flex;
    justify-content: center;
}

.card-back {
    background-color: rgb(219, 25, 25);
    transform: rotateY(180deg);
    display: flex;
    align-content: center;
}
.flipping {
    border-color: transparent !important;
    transition: 0.4s;
}

@media screen and (min-width: 375px) {
    main {
        grid-template-columns: repeat(2, 40%);
        gap: 1rem;
    }
}
@media screen and (min-width: 1150px) {
    main {
        grid-template-columns: repeat(4, 20%);
        gap: 5%;
        grid-template-rows: repeat(5, 20%);
    }
}